.player1Box, .player2Box {
  display: none;
}


.jumbotron {
  background-color: #cc32cc;
  padding-top: 10px;
  padding-bottom: 10px;
} 

/* .start-menu {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: #e29ae2;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

#newPlayers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#start {
  align-content: center;
}

#player1Name, #player2Name {
  
} */

